/*body{*/
  /*background: #ddd;*/
/*}*/
#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
    background: url('./img/bg.jpg') center center no-repeat;
    background-size: cover;

}